footer 
            .container 
                .row 
                    .footer-col-1
                        h3 Download our app
                        p Download App for android and ios mobile phone
                        img(src="images/play-store.png" class="footerDownload")
                        img(img src="images/app-store.png" class="footerDownload")
                    .footer-col-2
                        img(src="images/logo-white.png" id="logo-white")
                        p Our purpose is to sustainlbly Make the pleasure and Benifits of Sports accecible to many.
                    .footer-col-3 
                        h3 Useful Links
                        ul 
                            li coupons
                            li Blog post
                            li Return Policy
                            li Join Affiliate
                    .footer-col-4 
                        h3 Follow Us
                        ul 
                            li Facebook
                            li twitter
                            li Youtube
                            li Instagram
                    hr
                    p(class="copywrite") Copywrite 2021 - Muhammad Ali